html {
    box-sizing: border-box;
    font-size: 52.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: rgb(241, 240, 240);
  }
  h1, h2, h3, h4, h5, h6, p, ol, ul{
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
.header{
    background-color: yellow;
    height: 14vh;
}
.search{
    text-align: center;
    padding: 2.5vh;
}
.searchIcon{
    width: 40vh;
    height: 2.5vh;
    border: white;
    border-radius: 0.5rem;
}
.navBar{
    text-align: center;
    width: 80vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
}
.nav{
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    padding: 0vh;
}
.categoryOfer{
    margin: auto;
    margin-top: 3.0rem;
    border-radius: 0.5rem;
    padding: 1.0rem;
    width: 80vw;
    height: 13vh;
    background-color: white;
}
.ofers{
    width: 14vw;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
}
.ofer{
    float: left;
    height: 10vh;
    width: 21vh;
    margin: 1.0rem;
    padding: 0.5rem;
}
#border{
    border-right: 1px solid black;
}
.categoryOfer h1{
    font-size: 2.0rem;
}
.categoryOfer p{
    font-size: 1.4rem;
}
.ofer a{
    color: inherit;
}
.sectionscontents{
    margin: auto;
    margin-top: 3.0rem;
    border-radius: 0.5rem;
    padding: 1.0rem;
    width: 90vw;
    height: 24vh;
    
}
.marketingItens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.marketingIten{
    background-color: white;
    border-radius: 0.8rem;
    text-align: left;
    word-break: break-all;
    width: 21vh;
    height: 24vh;
    padding-top: 1.0rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    flex-wrap: wrap;
    overflow: hidden;
}
.marketingIten:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    height: 30vw;
}
.marketingItenSubTitle{
    padding: 1.0rem;
}
.marketingIten a{
    text-decoration: none;
    color: inherit;
}
#discontItens {
    text-decoration: line-through;
    color: gray;
    font-size: 1.6rem;
    overflow: hidden;
    margin-bottom: 0.1;
    height: 0vw;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transition: height 0.2s ease-in-out;
  }
.marketingIten:hover #discontItens{
    opacity: 1;
    height: 2vw;
}
#marketingItenSubTitleBorder{
    border-bottom: 0.1rem solid;
}

  
